@media only screen and (max-width:1500px){
    body{
        display: none;
    }
}

html, body{
    background-color: #41322C;
}

body, input, button{
    font-family: "Playpen Sans", sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.container{
    height: 90vh;
    display: grid;
    place-items: center;
}

.envelope-wrapper{
    background-color: #FFB8C1;
    margin: auto;
    width: 45%;
    padding: 10px;
    height: 55%;
}

#email-input{
    width: 30%;
    margin: 0;
    position: absolute;
    top: 43%; 
    right: 35%; 
}

#enter-input{
    width: 5%;
    margin: 0;
    position: absolute;
    top: 46%; 
    right: 35%; 
}

#code-input{
    width: 8%;
    margin: 0;
    position: absolute;
    top: 43%; 
    right: 45%; 
}

#enter-code{
    width: 5%;
    margin: 0;
    position: absolute;
    top: 46%; 
    right: 45%; 
}

a:link{
    text-decoration: none;
}
a, p{
    color: white;
}

