@import url("https://fonts.googleapis.com/css?family=Playpen+Sans");
@media (max-width:1280px), (max-height: 710px){
    body{
        display: none;
    }
    
}

.container{
    height: 90vh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-family: "Playpen Sans", sans-serif;
}

.envelope{
    width: 55%;
    padding: 0px 15px 0px 10px;
    height: 60%;
    background-color: #FFB8C1;
}

#email-input{
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%; 
    right: 35%; 
    font-family: "Playpen Sans", sans-serif;
    font-size: large;
}

#code-input{
    margin: 0;
    position: absolute;
    top: 50%;
    right: 45%;
    font-family: "Playpen Sans", sans-serif;
    font-size: large;
}

#submit{
    width: 5%;
    margin: 0;
    position: absolute;
    top: 54%; 
    right: 35%; 
}

#submit-code{
    width: 5%;
    margin: 0;
    position: absolute;
    top: 54%; 
    right: 47%; 
}

button, body{
    font-family: "Playpen Sans", sans-serif;
}

button{
    font-size: medium;
}

h3{
    padding-top: 6%;
    position: relative;
    text-align: center;
    font-size: 1.5vw;
}

p{
    font-size: 1vw;
}